@import "tailwindcss";

/* Variables de colores personalizados */
@theme {
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0efff;
  --color-primary-200: #b9dfff;
  --color-primary-300: #7cc7ff;
  --color-primary-400: #36acff;
  --color-primary-500: #0c8fff;
  --color-primary-600: #0070f0;
  --color-primary-700: #214B7C;
  --color-primary-800: #074ba2;
  --color-primary-900: #0F2C4E;
  --color-primary-950: #0a1c2e;

  --color-secondary-50: #fffdf0;
  --color-secondary-100: #fffae0;
  --color-secondary-200: #fff2bf;
  --color-secondary-300: #ffe799;
  --color-secondary-400: #FFD966;
  --color-secondary-500: #FFC72C;
  --color-secondary-600: #f0b820;
  --color-secondary-700: #cc9a1b;
  --color-secondary-800: #a67c1c;
  --color-secondary-900: #8a661b;
  --color-secondary-950: #4d360b;

  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #f9f9f9;
  --color-neutral-200: #f0f0f0;
  --color-neutral-300: #E5E5E5;
  --color-neutral-400: #d4d4d4;
  --color-neutral-500: #a3a3a3;
  --color-neutral-600: #737373;
  --color-neutral-700: #525252;
  --color-neutral-800: #404040;
  --color-neutral-900: #262626;
  --color-neutral-950: #171717;
}

/* Estilos personalizados */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Rubik', Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
